<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if lt IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!--Edge mode for IE8+-->
    <title>@ViewBag.Title - Ejjada Building Cleaning Services LLC</title>
    <meta name="description" content="Building Cleaning Services">							<!--Change content-->
    <meta name="keywords" content="ejjada building cleaning services, Cleaning, Building, Building Cleaning, Building Cleaning Services, Aircraft Cleaning, Rope Access, Cradle, Road Sign, Road Sign Cleaning, traffic sign cleaning, ship cleaning, construction cleaning, Irata, تنظيف, خدمات تنظيف المباني, تنظيف طائرات, تنظيف سفن">
    <meta name="author" content="Ejjada.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">			<!--Scale webpage-->

    <link href="http://fonts.googleapis.com/css?family=Oswald|PT+Sans:400,700,400italic" rel="stylesheet">	<!--Fonts styles-->
    <link href="~/Content/Tem/css/bootstrap.min.css" rel="stylesheet" /> 							<!--Bootstrap styles-->
    <link href="~/Content/Tem/css/bootstrap-theme.min.css" rel="stylesheet" />						<!--Bootstrap styles-->
    <link rel="stylesheet" href="~/Content/Tem/css/colorbox.css">                               <!--ColorBox styles-->
    <link rel="stylesheet" href="~/Content/Tem/css/style.css">									<!--Custom styles-->
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lt IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <!--**************************Begin Header*****************************-->
    <header>
        <div class="top-nav">
            <div class="container">
                <p class="pull-left inline hidden-xs">
                    <a href="/"><strong>إجادة</strong> </a> لخدمات تنظيف المباني
                </p>
                <p class="pull-right inline">
                    Call Us Today! 0-000-000-0000
                </p>
            </div>
        </div>
        <div class="main-nav-wrap">
            <div class="blue-line-wrap">
                <nav class="main-navbar container">
                    <div class="logo pull-left">
                        <a href="/">
                            <!--<img src="~/Content/Tem/img/logo.png" alt="Ejjada LLC"> !!!remove comments To choose image and comment h1!!!-->
                            <h1 class="logo-text">E<span class="blue-text">JJ</span>ADA</h1>
                        </a>
                    </div>
                    <div id="navigation-box" class="pull-right">
                        <a href="/" id="navigation-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class=" menu-icon">
                            </span>
                        </a>
                        <div class="nav-collapse collapse ">
                            <ul id="navigation" class="visible-xs nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Services", "Services", "Home")</li>
                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            </ul>
                        </div>
                        <ul id="navigation" class="nav hidden-xs">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Services", "Services", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header><!--**************************End Header*****************************-->
    @RenderBody()
    <!--**************************Begin Footer Widgets*****************************-->
    <div class="footer-widget-wrap">
        <section class="container footer-widget">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 widget-news">
                    <h3 class="widget-title">News from EJJADA</h3>
                   
                        <p class="pull-left">item.NewsL</p>
                  
                    <form name="email-form" id="email-form" class="input-wrap" action="#" novalidate>
                        <input type="email" name="input-email" id="input-email" placeholder="your email here" value="">
                        <input type="submit" id="submit-button" class="submit-button">
                    </form>
                    <address>
                        <span class="widget-news-phone">+ 00 0000 000 000</span>
                        <span class="widget-news-email"><a href="mailto:Sales@ejjada.com">Sales@ejjada.com</a></span>
                        <span class="widget-news-address">1703 SIT Towers, Dubai, UAE </span>
                    </address>
                </div>
            </div>
        </section>
    </div><!--**************************End Footer Widgets*****************************-->
    <!--**************************Begin Footer*****************************-->
    <div class="footer-wrap">
        <div class="blue-line-wrap">
            <footer class="container">
                <ul class="social pull-right">
                    <li title="pinterest" class="custom-tooltip blue-tooltip"><a href="#" class="pinterest-icon"></a></li>
                    <li title="google" class="custom-tooltip blue-tooltip"><a href="#" class="google-icon"></a></li>
                    <li title="linkedin" class="custom-tooltip blue-tooltip"><a href="#" class="linkedin-icon"></a></li>
                    <li title="twitter" class="custom-tooltip blue-tooltip"><a href="https://twitter.com/LiL8RiO" class="twitter-icon"></a></li>
                    <li title="facebook" class="custom-tooltip blue-tooltip"><a href="https://www.facebook.com/Bad.Man.Rio" class="facebook-icon"></a></li>
                </ul>
                <div class="copyright pull-left">
                    <p>&copy; EJJADA -Building Cleaning Services LLC 2014. Designed by <a href="https://www.facebook.com/Bad.Man.Rio"> Ryad M.K</a> All rights reserved. </p>
                </div>
                <ul class="breadcrumb pull-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Services", "Services", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </footer>
        </div>
    </div>
    <!--**************************End Footer*****************************-->
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>	<!--Script jQuery-->
    <script src="~/Scripts/bootstrap.min.js"></script>							<!--Script Bootstrap-->
    <script src="~/Scripts/jquery.event.drop-2.2.js"></script>
    <script src="~/Scripts/jquery.event.drag-2.2.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.roundabout.js"></script>							<!--Script roundabout Slider-->
    <script src="~/Scripts/jquery.bxslider.js"></script>							<!--Script Bxslider Slider-->
    <script src="~/Scripts/jquery.mobile.menu.js"></script>							<!--Script Mobile menu-->
    <script src="~/Scripts/modernizr.custom.91224.js"></script>						<!--Script Modernizr-->
    <script src="~/Scripts/jquery.form.js"></script>								<!--Script Send Mail-->
    <script src="~/Scripts/jquery.colorbox.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>			<!--*** Google map  ***-->
    <script src="~/Scripts/custom.js"></script>											<!--Script Custom-->
    <script>
        $(document).ready(function () {
            //3D-hover for iPhone, iPad, iPod
            $('.ch-item').on("mouseenter mouseleave", function (e) {
                e.preventDefault();
                $(this).toggleClass('hover');
            });
            $('.ch-second-item').on("mouseenter mouseleave", function (e) {
                e.preventDefault();
                $(this).toggleClass('hover');
            });
        });
    </script>
    <script>
        //Home Slider
        $('#slidingcarousel').carousel({
            interval: 5000
        });
    </script>
    <script>
        //Roundabout Slider
        $('#phoneCarousel').roundabout({
            tilt: 0.4,
            minScale: 0.5,
            minOpacity: 1,
            duration: 400,
            easing: 'easeOutQuad',
            enableDrag: true,
            dropEasing: 'easeOutBack',
            dragFactor: 2,
            responsive: true,
            autoplay: true,
            autoplayDuration: 1800,
            autoplayPauseOnHover: true
            //focusBearing: 20
        });
    </script>
    <script>
        /* CLIENTS SCROLL */
        $('#client-carousel').carouFredSel({
            prev: '.prev',
            next: '.next',
            auto: false,
            scroll: 1,
            width: 'variable',
            height: 'variable',
        });
    </script>
    <script>
        //Accordion Bootstrap
        $(".accordion").on("show hide", function (n) {
            $(n.target).siblings(".accordion-heading").find(".accordion-toggle").toggleClass("accordion-minus accordion-plus");
        });
    </script>
    <script>
        //Bxslider Slider
        $('.client-say-slider').bxSlider({
            pager: false,
            minSlides: 2,
            maxSlides: 5,
            moveSlides: 0,
            slideWidth: 200,
            slideMargin: 30
        });
    </script>
    <script>
        //Bxslider ejjada team Slider
        $('.ejjada-team').bxSlider({
            pager: false,
            minSlides: 1,
            maxSlides: 4,
            slideWidth: 270,
            slideMargin: 30
        });
    </script>
    <script>
        //Google map & Submit
        //Submit button click
        $("#submit").click(function (e) {
            e.preventDefault();
            $("#submit-btn").trigger('click');
        });
        initMap();
        function initMap() {
            var mapOptions = {
                scaleControl: true,
                center: new google.maps.LatLng(25.1177514, 55.3905546),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: map.getCenter()
            });
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent('<b>Address: 1703 S.I.T Tower</b><br> Dubai<br> United Arab Emirates');
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
