@model Ejjada.Models.Why

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Why</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyTitle1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyTitle1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyBody1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyBody1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyTitle2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyTitle2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyBody2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyBody2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyTitle3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyTitle3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyBody3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyBody3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyTitle4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyTitle4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WhyBody4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhyBody4)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
